.nav{
	height: 70px;
	background-color: #38464f;
}
.title{
	height: 70px;
	width: 400px;
	float: left;
	font-size: 25px;
	text-align: center;
	color: #fff;
	line-height: 60px;
}
.nav .left{
	float: right;
	color: #fff;
	width: 100px;
	height: 70px;
	font-size: 20px;
	line-height: 65px;
}
.sider{
	width: 250px;
	height: 700px;
	background-color: #293437;
	float: left;
	border:1px solid #000;
	border-radius:5px;
	margin-right: 20px;
}
.sider .gongneng{
	height: 50px;
	font-size: 30px;
	padding-left: 30px;
}
.sider ul{
	list-style: none;
	margin-left: 0px;
	padding:0px;
}
.sider li{

}
.sider .firstnav{
	font-size: 27px;
	background-color:#293437;
	margin-bottom: 5px;
	padding-left: 30px;
	color: #4c97d2;
	cursor:pointer;
}
.sider .secondnav{
	padding-left: 15px;
	font-size: 20px;
	display: none;
}
.content{
	width: 900px;
	height: 700px;
	float: left;
}
.writeletterform{
	width: 500px;
	margin-left: 400px;
	margin-top: 100px;
}
.writeletterform label{
	width: 80px;
	font-size: 20px;
}
.writeletterform input{
	width: 250px;
	height: 40px;
	border-radius: 4px;
	padding: 0px;
	border:1px solid #ccd0d2;
	font-size: 20px;
}
.writeletterform textarea{
	width: 400px;
	height: 200px;
}
.writeletterform button{
	width: 100px;
	margin-left: 70px;
}
.writeletterform select{
	width:250px;
	height: 40px;
	display: inline;
}
.delete{
	font-size: 20px;
	display: block;
	width: 50px;
	float: right;
}
.add_work_link{
	font-size: 20px;
}
.course{
	width: 100px;
	height:100px;
	margin:auto;
}
.course p{
	text-align: center;
}
.table{
	text-align: center;
}